/********************
GENERAL
********************/

p, h3, h1, h2, h3, h4, h5, h6, li, span {
	cursor: default;
	line-height: 1;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

html,
body {
	height: 100%;
}

@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
  src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
       url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'helveticaneuecyrroman';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'bebas_neuebook';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_book-webfont.woff') format('woff'),
    url('../fonts/bebasneue_book-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
    url('../fonts/bebasneue_bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'kelson_sans_rubold';
  src: url('../fonts/kelson_sans_bold_ru.eot');
  src: url('../fonts/kelson_sans_bold_ru.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kelson_sans_bold_ru.woff') format('woff'),
       url('../fonts/kelson_sans_bold_ru.ttf') format('truetype');
}


@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}



/********************
HEADER
********************/

.header {
	background-color: rgb(245,209,68);
	border-bottom: 2px solid #ffd947;
	position: absolute;
	width: 100%;
	z-index: 999;
}

.logo-header-wraper {
	padding: 9px 34px;
	display: block;
	max-width: 158px;
	width: 100%;
}

.logo-header-img {
	margin-left: auto;
	margin-right: auto;
}

.logo {
	padding-top: 9px!important;
	padding-bottom: 9px!important;
}

.header-nav {
	text-align: center;
}

.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	min-height: 78px;
}

.navbar-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	float: none;
	vertical-align: top;
}

.navbar-nav>li {
	width: 20%;
}

.navbar-nav>li.active {
	background-color: #ffd947;
}

.navbar-nav>li>a {
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
	color: #272a32;
	padding-top: 19px;
	padding-bottom: 19px;
}

.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: underline;
	background-color: transparent;
}

.header-tel {
	font-family: 'helveticaneuecyrthin';
	font-size: 20px;
	color: #272a32;
	margin-top: 32px;
	line-height: .85;
}




/********************
STARTER-SEC
********************/

.starter-sec {
	background: url(../img/bg.png) center no-repeat;
	height: 100%;
	padding-top: 80px;
	-webkit-background-size: cover;
	background-size: cover;
}

.starter-sec-header {
	font-family: 'bebas_neuebold';
	font-size: 89px;
	color: #50536a;
	text-align: center;
	margin-top: 38px;
	margin-bottom: 10px;
	line-height: .8;
}

.starter-sec-subheader {
	font-family: 'bebas_neuebook';
	font-size: 78px;
	color: #50536a;
	line-height: .89;
	margin-top: 0;
	margin-left: 20px;
}

.starter-sec-form-header {
	font-family: 'bebas_neuebold';
	font-size: 44px;
	color: #d0d3db;
	line-height: .775;
	margin-bottom: 15px;
}

.starter-sec-form {
	background-color: #4e5267;
	padding: 19px;
	border-radius: 3px;
	border: 2px solid #323640;
	max-width: 262px;
	width: 100%;
	margin-left: auto;
	margin-right: 15px;
}

.starter-sec-form .form-group {
	margin-bottom: 10px;
	position: relative;
}

.starter-sec-form .form-control	{
	height: 28px;
	padding-left: 35px;
	border-radius: 0;
	border: none;
	background-color: #d0d3db;
	font-size: 16px;
	color: #50536a;
}

.starter-sec-form .form-control::-webkit-input-placeholder {
	color: #50536a;
}

.starter-sec-form .form-control::-moz-placeholder {
	color: #50536a;
}

.starter-sec-form .form-control:-ms-input-placeholder {
	color: #50536a;
}

.form-ico {
	position: absolute;
	left: 0;
}

.starter-sec-form-btn {
	background-color: #ce4a43;
	border-radius: 3px;
	border: none;
	width: 100%;
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	color: #fff;
	height: 32px;
}



/********************
PORTFOLIO-SEC
********************/

.portfolio-sec {
	background: url(../img/bg.png) center no-repeat;
	padding-top: 80px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	/*height: 100%;*/
}

.portfolio-header {
	font-family: 'kelson_sans_rubold';
	font-size: 96px;
	text-align: center;
	color: #272a32;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top: 40px;
}

.portfolio-subheader {
	text-align: center;
	font-family: 'helveticaneuecyrthin';
	font-size: 18px;
	color: #272a32;
	margin-bottom: 34px;
}

.tags-overlay {
	background-color: rgba(201,201,201,.8);
	height: 100px;
	position: absolute;
	top: 80px;
	width: 100%;
}

.tags-block {
	margin-top: 15px;
}

.tags-btn {
	border-radius: 3px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-size: 17px;
	font-family: 'helveticaneuecyrthin';
	margin-right: 10px;
	transition: all linear .2s;
}

.tags-btn.active {
	background-color: #fff;
	color: #444957;
}

/*left nav (плитками/списком)*/

.nav-tabs {
	border-bottom: none;
	text-align: center;
	float: left;
	margin-right: 30px;
	margin-left: 40px;
}

.nav-tabs>li>a {
	padding: 0;
	line-height: 1;
}

.nav-tabs>li {
	margin-bottom: 15px;
	float: none;
}

.nav-tabs>li img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: #272a32;
	background-color: transparent!important;
	border: none;
}

.nav-tabs>li>a {
	margin-right: 0;
	border: none;
	border-radius: 0;
}

.nav-tabs>li>a:hover {
	border-color: trensparent;
}

#Container .mix {
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	display: none;
	width: 22.5%;
}

#Container1 .mix {
	display: none;
	border-radius: 6px;
	border: 1px solid #272a32;
	overflow: hidden;
}

.tomato {
	background-color: tomato;
	height: 150px;
}

.green {
	background-color: green;
	height: 150px;
}

.orange {
	background-color: orange;
	height: 150px;
}

.portfolio-list-img {
	float: left;
}

.portfolio-block-know-more {
	float: left;
}

.owner-txt {
	font-size: 17px;
	font-family: 'helveticaneuecyrthin';
}

.owner-txt-name {
	
}

.portfolio-list-site-link {

}
