/********************
GENERAL
********************/

p,
h3,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
	line-height: 1;
	cursor: default;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

html,
body {
	height: 100%;
}

@font-face {
	font-family: 'helveticaneuecyrthin';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
	src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'helveticaneuecyrroman';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'bebas_neuebook';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bebasneue_book-webfont.eot');
	src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue_book-webfont.woff') format('woff'),
	url('../fonts/bebasneue_book-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'bebas_neuebold';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bebasneue_bold-webfont.eot');
	src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
	url('../fonts/bebasneue_bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'kelson_sans_rubold';

	src: url('../fonts/kelson_sans_bold_ru.eot');
	src: url('../fonts/kelson_sans_bold_ru.eot?#iefix') format('embedded-opentype'),
	url('../fonts/kelson_sans_bold_ru.woff') format('woff'),
	url('../fonts/kelson_sans_bold_ru.ttf') format('truetype');
}


@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}



/********************
HEADER
********************/

.header {
	position: absolute;
	z-index: 999;
	width: 100%;
	background-color: rgb(245,209,68);
	border-bottom: 2px solid #ffd947;
}

.logo-header-wraper {
	padding: 9px 34px;
	display: block;
	width: 100%;
	max-width: 158px;
}

.logo-header-img {
	margin-right: auto;
	margin-left: auto;
}

.logo {
	padding-top: 9px!important;
	padding-bottom: 9px!important;
}

.header-nav {
	text-align: center;
}

.navbar {
	margin-bottom: 0;
	min-height: 78px;
	border: none;
	border-radius: 0;
}

.navbar-nav {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flex;
	display:      -o-flex;
	display:         -ms-flexbox;
	display:         flex;
	float: none;
	vertical-align: top;

	-webkit-align-items: center;

	    -ms-flex-align: center;

	        align-items: center;
}

.navbar-nav > li {
	width: 20%;
}

.navbar-nav > li.active {
	background-color: #ffd947;
}

.navbar-nav > li > a {
	padding-top: 19px;
	padding-bottom: 19px;
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
	color: #272a32;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: underline;
	background-color: transparent;
}

.header-tel {
	margin-top: 32px;
	font-family: 'helveticaneuecyrthin';
	font-size: 20px;
	line-height: .85;
	color: #272a32;
}



/********************
STARTER-SEC
********************/

.starter-sec {
	padding-top: 80px;
	height: 100vh;
	background: url(../img/bg.png) center no-repeat;
	background-size: cover;
}

.starter-sec-header {
	margin-top: 38px;
	margin-bottom: 10px;
	font-family: 'bebas_neuebold';
	font-size: 89px;
	line-height: .8;
	text-align: center;
	color: #50536a;
}

.starter-sec-subheader {
	margin-top: 0;
	margin-left: 20px;
	font-family: 'bebas_neuebook';
	font-size: 78px;
	line-height: .89;
	color: #50536a;
}

.starter-sec-form-header {
	margin-bottom: 15px;
	font-family: 'bebas_neuebold';
	font-size: 44px;
	line-height: .775;
	color: #d0d3db;
}

.starter-sec-form {
	margin-right: 15px;
	margin-left: auto;
	padding: 19px;
	width: 100%;
	max-width: 262px;
	background-color: #4e5267;
	border: 2px solid #323640;
	border-radius: 3px;
}

.starter-sec-form .form-group {
	position: relative;
	margin-bottom: 10px;
}

.starter-sec-form .form-control {
	padding-left: 35px;
	height: 28px;
	font-size: 16px;
	color: #50536a;
	background-color: #d0d3db;
	border: none;
	border-radius: 0;
}

.starter-sec-form .form-control::-webkit-input-placeholder {
	color: #50536a;
}

.starter-sec-form .form-control::-moz-placeholder {
	color: #50536a;
}

.starter-sec-form .form-control:-ms-input-placeholder {
	color: #50536a;
}

.form-ico {
	position: absolute;
	left: 0;
}

.starter-sec-form-btn {
	width: 100%;
	height: 32px;
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	color: #fff;
	background-color: #ce4a43;
	border: none;
	border-radius: 3px;
}



/********************
PORTFOLIO-SEC
********************/

.portfolio-sec {
	position: relative;
	padding-top: 80px;
	height: 100%;
	min-height: 1192px;
	background: url(../img/bg.png) center no-repeat;
	background-size: cover;
}

.portfolio-header {
	margin-top: 31px;
	margin-bottom: 0;
	font-family: 'kelson_sans_rubold';
	font-size: 96px;
	text-align: center;
	text-transform: uppercase;
	color: #272a32;
}

.portfolio-subheader {
	margin-bottom: 34px;
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
	text-align: center;
	color: #272a32;
}

.tags-overlay {
	position: absolute;
	top: 80px;
	right: 0;
	width: 76%;
	height: 100px;
	background-color: rgba(201,201,201,.8);
}

.color-overlay {
	position: absolute;
	top: 80px;
	left: 0;
	width: 24%;
	height: 100px;
	background-color: rgba(219,219,219,.8);
}

.tags-block {
	margin-top: 15px;
}

.tags-btn {
	margin-right: 10px;
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
	transition: all linear .2s;
}

.tags-btn.active {
	color: #444957;
	background-color: #fff;
}

/*left nav (плитками/списком)*/

.main-tab > .nav-tabs {
	margin-right: 30px;
	margin-left: 40px;
	float: left;
	text-align: center;
	border-bottom: none;
}

.main-tab > .nav-tabs > li > a {
	padding: 0;
	line-height: 1;
}

.main-tab > .nav-tabs > li {
	margin-top: 15px;
	float: none;
}

.main-tab > .nav-tabs > li img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.main-tab > .nav-tabs > li.active > a,
.main-tab > .nav-tabs > li.active > a:hover,
.main-tab > .nav-tabs > li.active > a:focus {
	color: #272a32;
	background-color: transparent!important;
	border: none;
}

.main-tab > .nav-tabs > li > a {
	margin-right: 0;
	border: none;
	border-radius: 0;
}

.main-tab > .nav-tabs > li > a:hover {
	border-color: transparent;
}

/*tags-nav*/

.tags-tab > .nav-tabs {
	min-height: 100px;
	border-bottom: none;
}

.tags-tab > .nav-tabs > li {
	margin-top: 15px;
	margin-bottom: 0;
	margin-left: 14px;
	border: 1px solid #fff;
	border-radius: 3px;
}

.tags-tab > .nav-tabs > li.active > a,
.tags-tab > .nav-tabs > li.active > a:hover,
.tags-tab > .nav-tabs > li.active > a:focus {
	color: #444957;
	background-color: #fff;
	border: none;
	border-radius: 0;
}

.tags-tab > .nav-tabs > li > a {
	margin-right: 0;
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	background-color: transparent;
	border: none;
}

.tags-tab > .nav > li > a {
	padding: 4px;
}

.tab-content > .active#all-work-tile,
.tab-content > .active#lp-tile,
.tab-content > .active#corporative-tile,
.tab-content > .active#e-commerce-tile {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flex;
	display:      -o-flex;
	display:         -ms-flexbox;
	display:         flex;

	-webkit-flex-wrap: wrap;

	    -ms-flex-wrap: wrap;

	        flex-wrap: wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.tomato {
	margin-bottom: 2%;
	width: 150px;
	height: 150px;
	background-color: tomato;
}

.green {
	margin-bottom: 2%;
	width: 150px;
	height: 150px;
	background-color: green;
}

.orange {
	margin-bottom: 2%;
	width: 150px;
	height: 150px;
	background-color: orange;
}

.portfolio-list-wraper {
	position: relative;
	margin-bottom: 25px;
	overflow: hidden;
	border: 1px solid #272a32;
	border-radius: 6px;
}

.portfolio-list-img {
	float: left;
	border-right: 1px solid #272a32;
}

.site-owner-info {
	position: relative;
	right: -18px;
	padding: 18px 0;
	color: #272a32;
}

.site-owner-name {
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
}

.site-owner-name span {
	font-family: 'helveticaneuecyrroman';
}

.site-owner-tel {
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
}

.site-owner-links {
	display: block;
	font-family: 'helveticaneuecyrthin';
	font-family: 'helveticaneuecyrthin';
	font-size: 17px;
	text-decoration: underline;
	color: #272a32;
}

.site-list-btn {
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 222px;
	height: 42px;
	font-family: 'helveticaneuecyrroman';
	font-size: 12px;
	color: #fff;
	background-color: #272a32;
	border: none;
}

/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
	transition-timing-function: ease-in;
	-webkit-animation-duration: .25s;
	        animation-duration: .25s;

	-webkit-animation-fill-mode: both;

	        animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
	-webkit-animation-name: fadeIn;
	        animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
	-webkit-animation-direction: alternate-reverse;
	        animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@-webkit-keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
